<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Silahkan Melangkah dan terjun langsng dalam Lingkup Alumni SMAN 1 Kraksaan">
  <meta name="keywords" content="user, halaman user, alumni, matura, matura project, sman 1 kraksaan">
  <meta name="author" content="Mufid Zukhruf Bahtiar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:site_name" content="Registrasi - 1979 Matura Project">
  <meta property="og:title" content="Registrasi - 1979 Matura Project">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://matura.site/">
  <meta property="og:type" content="website">

  <title>User - 1979 Matura Project</title>
    
  <link rel="shortcut icon" type="image/png" href="./static/img/facivon.jpg"/>
    
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/userCardProfile.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/user2.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/762/user2-762px.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/425/user2-425px.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="static/css/animate.css"/>
  <link rel="stylesheet" href="static/utils/fontawesome-free-5.4.1-web/fontawesome-free-5.4.1-web/css/all.css">
   
  <link href="./static/jQuery.select2/css/select2.min.css" rel="stylesheet" />
  <script src="./static/jQuery.select2/js/select2.min.js"></script>
  <script src="./static/js/user.js"></script>
</head>
<body>
    <div class="header">
        <div class="footer">
            <div class="navigate">
                <a href="#"><i class="fas fa-home"></i> Home</a>
                <a href="#"><i class="fas fa-tshirt"></i> Shop</a>
                <a href="#"><i class="fas fa-running"></i> Alumni</a>
            </div>
        </div>
    </div>
    
    <div id="stickMe" class="content left">
            <usercard onClick='window.location.href = "#";'>

                <div class="screen"></div>
                <img src="./static/user.property/profile/photo/2018100111.jpg"/><br/>
                <label class="name" for="name">
                    Mufid Zukhruf Bahtiar
                </label><br/>

                <label for="univ">
                    Malang
                </label>

                <div class="bottom-info">
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ligula egestas, feugiat leo vel, dictum enim. Ut vitae tempus nulla.
                        </p>
                    </div>
                    <div class="footer">
                        <label for="grad-year">
                            39,721 Like
                        </label>
                        <label for="grad-year">
                            2018 / @fiiedz
                        </label>
                    </div>
                </div>

    <!--
                <div class="hv">
                    <label for="hv">MORE</label>
                </div>
    -->
            </usercard>
            
            
            <div class="write-container">
                <label for="title">Written by you /.</label>
                <div class="write"></div>
                <div class="write"></div>
                <div class="write"></div>
                
                <a href="#">more..</a>
            </div>
        </div>

    
    <div class="content-container">
        
        <div class="content right">
            <div class="feed-container">
                
                <div class="feed-circle"></div>
                <label for="timeline">now -t time:now</label>
                <div class="feed-line">
                    <div class="feed">
                        <label for="title">Update Notes</label>
                        <label for="says">| write your circle notes below !!</label>
                        <form>
                            <textarea id="feed-status" onkeyup="new do_resize(this);" rows="3" class="content" placeholder="status here.."></textarea><br/>
                            <button class="btn update">
                                Update /.
                            </button>
                        </form>
                    </div>
                </div>
                
                
                
                
                
                <div class="feed-circle"></div>
                <label for="timeline">16 December 2018 -t 21:58:44</label>
                <div class="feed-line">
                    <div class="feed">
                        <label for="title">Mufid Zukhruf Bahtiar</label>
                        <label for="says">says</label>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ligula egestas, feugiat leo vel, dictum enim. Ut vitae tempus nulla. Mauris tincidunt, purus sed lobortis aliquam, turpis enim posuere erat, vel placerat ipsum leo eu lectus. Quisque at pretium tortor.</p>
                    </div>
                </div>
                
                <div class="feed-circle"></div>
                <label for="timeline">15 December 2018 -t 21:58:44</label>
                <div class="feed-line">
                    <div class="feed">
                        <label for="title">Mufid Zukhruf Bahtiar</label>
                        <label for="says">says</label>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ligula egestas, feugiat leo vel, dictum enim. Ut vitae tempus nulla. Mauris tincidunt, purus sed lobortis aliquam, turpis enim posuere erat, vel placerat ipsum leo eu lectus. Quisque at pretium tortor.</p>
                    </div>
                </div>
                
                <div class="feed-circle"></div>
                <label for="timeline">15 December 2018 -t 21:58:44</label>
                <div class="feed-line">
                    <div class="feed">
                        <label for="title">Mufid Zukhruf Bahtiar</label>
                        <label for="says">says</label>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ligula egestas, feugiat leo vel, dictum enim. Ut vitae tempus nulla. Mauris tincidunt, purus sed lobortis aliquam, turpis enim posuere erat, vel placerat ipsum leo eu lectus. Quisque at pretium tortor.</p>
                    </div>
                </div>
                
                <div class="feed-circle"></div>
                <label for="timeline">15 December 2018 -t 21:58:44</label>
                <div class="feed-line">
                    <div class="feed">
                        <label for="title">Mufid Zukhruf Bahtiar</label>
                        <label for="says">says</label>
                        <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in ligula egestas, feugiat leo vel, dictum enim. Ut vitae tempus nulla. Mauris tincidunt, purus sed lobortis aliquam, turpis enim posuere erat, vel placerat ipsum leo eu lectus. Quisque at pretium tortor.</p>
                    </div>
                </div>
            </div>
            <div class="mail-container">
                <label for="mail"><i class="fas fa-exclamation"></i> Event</label>
                <div class="mail">
                    <label for="title">Expo Campus 2019</label>
                    <div class="mail-detail">
                        <p>date : 19 January 2019</p>
                        <p>location : sman 1 kraksaan</p>
                        <p>event handler : Unknown</p>
                        <p>leader : unknown</p>
                        <p>Invitation Only</p>
                    </div>
                </div>
                
                <div class="mail">
                    <label for="title">HUT SMAN 1 KRAKSAAN</label>
                    <div class="mail-detail">
                        <p>date : 32 January 2099</p>
                        <p>location : sman 1 kraksaan</p>
                        <p>event handler : oskamatura</p>
                        <p>leader : unknown</p>
                        <p>Invitation Only - all maturans</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <script type="application/javascript">
     window.onscroll = function(){scroll()};
        
     var stick = document.getElementById("stickMe");
    </script>
</body>
</html>